

<div class = "container">



<div class = "row">
	<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New article', new_article_path %>

<br>
</div>


<div class = "row">



	<div class="col-md-4">
		<center>
		<a href = "/map_page">
			<img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11856742_1252720328078846_1292226796_n.jpg" alt="..." class="img-responsive" style = "width:100%">
		</a>
		</center>

		<a href = "">
			This is a captionThis is a captionThis is a captionThis is a captionThis is a captionThis is a caption.
		</a>

		<hr width="50%">
		<br><br>

	
	</div>



	<div class="col-md-4">
		<center>
		<a href = "/map_page">
			<img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11856742_1252720328078846_1292226796_n.jpg" alt="..." class="img-responsive" style = "width:100%; height: 50%;">
		</a>
		</center>

		<a href = "">
			This is a captionThis is a captionThis is a captionThis is a captionThis is a captionThis is a caption.
		</a>

		<hr width="50%">
		<br><br>
	
	</div>

	<div class="col-md-4">
		<center>
		<a href = "/map_page">
			<img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/11856742_1252720328078846_1292226796_n.jpg" alt="..." class="img-responsive" style = "width:100%; height: 50%;">
		</a>
		</center>

		<a href = "">
			This is a captionThis is a captionThis is a captionThis is a captionThis is a captionThis is a caption.
		</a>

		<hr width="50%">
		<br><br>
	
	</div>


</div>
</div>
